@font-face {
    font-family: myntra-bold;
    src: url('./assets/Assistant-Bold.woff2')  format('truetype');
}
@font-face {
    font-family: myntra-regular;
    src: url('./assets/Assistant-Regular.woff2')  format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'myntra-regular';
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    margin:0px 35px 0px 45px;
    cursor: pointer;
}
.spn{
    font-size: 8px;
    color: red;
    top: -0.4rem;
    margin: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.links ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links ul li{
    font-family: 'myntra-bold';
    list-style:none;
    color: #282c3f;
    text-decoration: none;
    font-size: 13px;
    font-weight:700;
    letter-spacing: .3;
    padding: 0 17px;
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar{
    width: 430px;
    height: 39.6;
    background:#F5F5F6;
    margin:0;
    padding: 8px 10px 10px;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
}
.s-container{
    background:#F5F5F6;
    height: 39.6px;
    display: flex;
    align-items: center;
}
.right-links{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    padding: 0px 45px;
    gap: 25px;

}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    position: relative;
    cursor: pointer;
}
.bag-ico{
    white-space: nowrap;
    text-align: center;
    line-height: 18px;
    padding: 0 6px;
    height: 18px;
    background: #ff3f6c;
    position: absolute;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    left: 13px;
    top: -2px;
    font-weight: 700;
    cursor: pointer;
}
.main{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main img{
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
}
.image1 img{
    width: 50%;
    height: 100%;
    cursor: pointer;
}
.img-row img{
    width: 15vw;
    overflow: hidden;
    cursor: pointer;
}
.img-row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

footer{
    width: 100%;
    z-index: 5;
    margin: auto;
    padding: 30px 0px 40px 0px;
    background: #FAFBFC;
    display: flex;
    justify-content: space-around;
}
.online-shopping{
    display: flex;
    font-family: 'myntra-bold';
    flex-direction: column;
    line-height: 4;
    padding-left: 80px;
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;
}
.online-shopping a{
    font-family: 'myntra-regular';
    text-decoration: none;
    line-height: 1.5;
    font-size: 14px;
    color: #696b79;
    font-weight: 100;
}
.online-shopping img{
    width: 8vw;
}
.app-cont{
    display: flex;
}
.socials{
    cursor: pointer;
    display: flex;
    gap: 10px;
}
.socials img{
    width: 20px;
}
.last-frag{
    padding-top: 25px;
    width: 20%;
    display: flex;
    flex-direction: column;
}
.last-frag img{
    width: 50px;
    height: 50px;
}
.text{
    text-align: left;
}
.bold{
    font-weight: 900;
}
.original{
    display: flex;
    align-items: center;
    justify-content: center;
}
.return{
    padding-top: 25px;
    display: flex;
    align-items: center;
}
#reggDropdown{
    position: relative;
}
#reggDropdown > #drop{
    width: 15rem;
    height: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    border-radius: 1.5rem;
    cursor: default;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 500ms;
}
#reggDropdown a{
    width: 85%;
    text-decoration: none;
    color: unset;
    display: inline-block;
    text-align: right;
    border-radius: 1rem;
    padding: 0.6rem;
    margin-top: 0.8rem;
    transition: all 500ms;
    
}
    #reggDropdown:hover #drop{
        visibility: visible;
        width: 12rem;
        height: 8rem;
    }
    #reggDropdown > #drop .dropList{
        font-size: 0;
    }
    #reggDropdown:hover > #drop .dropList{
        font-size: 1.3rem;
    }

    #reggDropdown a:hover{
        background-color: #f8d7cf; 
    }
